# Python
__pycache__/
*.py[cod]
.env
venv/
.venv/
*.egg-info/
.pytest_cache/

# Node / frontend
node_modules/
dist/

# Webots
simulacion/worlds/*.wbproj

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
